doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Latest compiled and minified CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  // jQuery library
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  // Popper JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  // Latest compiled JavaScript
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  title Forum Page
style.
  * {
  box-sizing: border-box;
  }
  /* Create two unequal columns that floats next to each other */
  .column {
  float: left;
  padding: 20px;
  height: 100%; /* Should be removed. Only for demonstration */
  }
  .leftColumn {
  width: 30%;
  //border-right: 1px solid #000;
  }
  .rightColumn {
  width: 70%;
  border-left: 1px solid #000;
  height: 100%;
  overflow: auto;
  }
  /* Clear floats after the columns */
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  .vertical-menu {
  width: 200px; /* Set a width if you like */
  }
  .vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  }
  .vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
  }
  .vertical-menu a.active {
  background-color: #424240; /* Add a green color to the "active/current" link */
  color: white;
  }
  .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 4px 4px;
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  /* Add some padding inside the card container */
  .container {
  padding: 2px 16px;
  }
  @media screen and (max-width: 600px) {
  .column {
  width: 100%;
  }
  }
  .buttonList{
  color: black;
  }
  input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  }
  label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  }
  input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  }
  input[type=submit]:hover {
  background-color: #45a049;
  }
  .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  }
  .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  }
  .col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
  }
  /* Clear floats after the columns */
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
  }
  }
body(style="background-color:rgb(228, 210, 87);" onload="javascript:viewClassForums('none')")
// nav bar
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='homePage')
    img(src='../resources/img/TextBuddy_heading.png' alt='TextBuddy' width='232' height='50')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='homePage') Home
      li.nav-item
        a.nav-link(href='listings') Listings
      li.nav-item.active
        a.nav-link(href='forum')
          | Forum
          span.sr-only (current)
    .form-inline.my-2.my-lg-0
      button.btn.btn-outline-dark.my-2.my-sm-0(type='submit') Logout
// body information
br
br
.row
  .column.leftColumn
    p.text-center(style='font-size:160%; font-family: serif')
      | Subject List
    .container-fluid(style='line-height:10px;')
      .row
        #math.col-12
          br
          .card
            .container-fluid
              form.form(action='/action_page.php')
                // radio buttons
                .btn-group-vertical
                  .radio
                    label
                      input(type='radio', name='optradio', checked='')
                      |  Math
                  .radio
                    label
                      input(type='radio', name='optradio')
                      |  Physics
                  .radio
                    label
                      input(type='radio', name='optradio')
                      |  Computer Science
                  .radio
                    label
                      input(type='radio', name='optradio')
                      |  Chemistry
                  .radio
                    label
                      input(type='radio', name='optradio')
                      |  Biology
                  .radio
                    label
                      input(type='radio', name='optradio')
                      |  English
                  div
                    input(type='submit', value='Submit', style='background-color:rgb(228, 210, 87); color: black;')
      
  .column.rightColumn
    p.text-center(style='font-size:160%; font-family: serif')
      | Forum Posts
    p.text-center
      .container-fluid
        .text-right
          // BUTTON FOR ADDING A NEW DISCUSSION POST
          button.btn.btn-sm.btn-info(type='submit' data-toggle='modal' data-target='#myModal') Add a new discussion post
          #myModal.modal.fade(role='dialog')
            .modal-dialog.modal-lg
              .modal-content
                .modal-header(style='background-color:rgb(228,210,87)')
                  button.close(type='button' data-dismiss='modal') &times;
                .modal-body
                  form.form-horizontal(action='/forum/postTopic' method='post')
                    .row
                      .col-25
                        label(for='title') Title
                      .col-75
                        input#title(type='text' name='title' placeholder='Title')
                    .row
                      .col-25
                        label(for='post_class') Select Class
                      .col-75
                        select#post_class(name='post_class')
                          option(value='Math') Math
                          option(value='Physics') Physics
                          option(value='Computer Science') Computer Science
                          option(value='Chemistry') Chemistry
                          option(value='Biology') Biology
                          option(value='English') English
                    .row
                      .col-25
                        label(for='subject') Text
                      .col-75
                        textarea#subject(name='subject' placeholder='Write something..' style='height:200px')
                    .row
                      .col-75
                        input(type='submit' value='Submit' style='background-color:rgb(228, 210, 87); color: black;')
                .modal-footer(style='background-color:rgb(228,210,87);')
                  button.btn.btn-default(type='button' data-dismiss='modal') Close
        // END OF BUTTON FOR ADDING A NEW DISCUSSION POST
        br
        if topics
          for item in topics
            .row
              .col-12
                .card
                  .card-body
                    h5#post_title.card-title
                      | #{item.topic_title}
                    h6#post_subject.card-subtitle.mb-2.text-muted
                      | #{item.topic_subject}
                    p#post_content.card-text
                      | #{item.topic_body}
                    p#post_date.card-subtitle.mb-2.text-muted.small
                      | 11/11/2019
                  if replies
                    for item2 in replies
                      if item2.reply_topic_id == item.topic_id
                        ul.list-group.list-group-flush
                          li.list-group-item
                            p.card-subtitle.mb-2.text-muted.small
                              i #{item2.reply_username} replies...
                            h #{item2.reply_body}
                    .container-fluid
                      form.form-horizontal(action="/forum/postReply?id="+item.topic_id method='post')
                          b &nbsp;
                          label(for='reply') 
                            | Write a reply...
                          textarea(id='postReply'+item.topic_id name='postReply'+item.topic_id, placeholder='Write something..', style='height:200px')
                          input(type='submit', value='Reply', style='background-color:rgb(228, 210, 87); color: black;')

            br





  br
// BUTTON FOR REPLYING TO A DISCUSSION POST
// Below is the script to show or hide the specific class names under the subject listings

script.
  document.getElementById("menu_images").onchange = function () {
  var reader = new FileReader();
  if(this.files[0].size>528385){
  alert("Image Size should not be greater than 500Kb");
  $("#menu_image").attr("src","blank");
  $("#menu_image").hide();
  $('#menu_images').wrap('<form>').closest('form').get(0).reset();
  $('#menu_images').unwrap();
  return false;
  }
  if(this.files[0].type.indexOf("image")==-1){
  alert("Invalid Type");
  $("#menu_image").attr("src","blank");
  $("#menu_image").hide();
  $('#menu_images').wrap('<form>').closest('form').get(0).reset();
  $('#menu_images').unwrap();
  return false;
  }
  reader.onload = function (e) {
  // get loaded data and render thumbnail.
  document.getElementById("menu_image").src = e.target.result;
  $("#menu_image").show();
  };
  }
// Below is the script to show or hide the specific class names under the subject listings
